# Import

In [1]:
import sys

import pandas as pd

root_dir = '../../'
if root_dir not in sys.path:
    sys.path.append(root_dir)
import modules

# Read Data

In [2]:
train, test, submit = modules.utils.get_data(debug_mode=False)

# 目的変数の分布

In [7]:
train.head(10)

,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,RevLineCr,LowDoc,DisbursementDate,MIS_Status,Sector,ApprovalDate,ApprovalFY,City,State,BankState,DisbursementGross,GrAppv,SBA_Appv,UrbanRural
0,163,21,1.0,0,0,1,N,N,31-Jan-98,1,0,22-Sep-06,2006,PHOENIX,AZ,SD,"$80,000.00","$80,000.00","$68,000.00",0
1,84,6,1.0,4,0,0,0,N,31-Oct-93,1,62,30-Jun-92,1992,MCALESTER,OK,OK,"$287,000.00","$287,000.00","$229,600.00",0
2,242,45,1.0,4,90,0,N,N,31-Aug-01,1,42,18-Apr-01,2001,HAWTHORNE,NJ,NJ,"$31,983.00","$30,000.00","$15,000.00",1
3,237,4,1.0,0,0,0,N,N,31-Aug-07,1,33,6-Oct-03,2004,NASHVILLE,TN,SD,"$229,000.00","$229,000.00","$229,000.00",0
4,184,0,1.0,0,0,0,N,N,8-Jun-83,1,0,17-Dec-99,2000,POMONA,CA,CA,"$525,000.00","$525,000.00","$393,750.00",0
5,60,7,1.0,4,10,0,Y,N,1-Apr-12,0,44,26-Nov-93,1994,APLINGTON,IA,IA,"$69,991.00","$70,000.00","$35,000.00",0
6,39,0,1.0,15,1,0,0,N,8-Nov-11,1,23,4-Jan-05,2005,DALLAS,TX,CA,"$50,000.00","$50,000.00","$25,000.00",0
7,82,5,2.0,0,0,1,N,C,31-Jan-95,1,0,21-Nov-01,2002,HUDSON,NH,NH,"$414,000.00","$414,000.00","$414,000.00",0
8,57,6,2.0,0,0,0,N,C,31-Jan-95,1,61,11-Jan-95,1995,WILLISTON,ND,ND,"$112,500.00","$112,500.00","$101,250.00",0
9,25,1,1.0,0,0,1,N,N,30-Apr-07,1,0,23-Mar-04,2004,MESA,AZ,AZ,"$50,000.00","$50,000.00","$25,000.00",2

In [6]:
total = train['MIS_Status'].value_counts().sum()
ones = train['MIS_Status'].sum()

# 1の割合を計算
proportion = ones / total
print("1の割合:", proportion)

1の割合: 0.8926891530952324